<div class="container h-100 mt-5">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <h3>Films</h3>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <h5>Login</h5>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form >
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-envelope-square"></i></span>
            </div>
            <input type="email" name="email" [(ngModel)]= "email" class="form-control input_user" value="" placeholder="email">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" name="password" [(ngModel)]= "password" class="form-control input_pass" value="" placeholder="password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
            <div class="d-flex justify-content-center mt-3 login_container">
         <button type="submit" name="signin" [disabled]="onlogin" class="btn login_btn" (click) ="login()">Login</button>
         </div>
         <p class="text-danger text-center"> {{errormessage}} </p>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a routerLink="/register" class="ml-2">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
